<div id="dialog-addnewsite" title="Add new site" class="dialog">
  <form id="form-add" action="/add" method="post">
      <fieldset>
        <label for="name">Site-ID</label>
        <input type="text" name="id" id="id" class="text ui-widget-content ui-corner-all" />
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" />
      </fieldset>
  </form>
</div>