<div id="dialog-changepwd" title="Change password" class="dialog">
  <form id="form-change">
      <input type="hidden" name="id" id="id"/>
      <input type="hidden" name="username" id="username"/>
      <fieldset>
        <label for="name">Site-ID</label>
        <label class="labelfield ui-widget-content ui-corner-all"><span id="id_label"></span></label>
        <label for="username">Username</label>
        <label class="labelfield ui-widget-content ui-corner-all"><span id="username_label"></span></label>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" />
        <label for="url">Url</label>
        <input type="text" name="url" id="url" class="text ui-widget-content ui-corner-all" />
      </fieldset>
  </form>
</div>