<h1>Lockr password manager</h1>

<div class="entries">
    <table class="entrytable">
        <% for entry in entries %>
            <tr>
                <td>
                    <%= entry %>
                </td>
            </tr>
        <% end%>
    </table>
</div>
