<html>
    <head>
        <title>
            Lockr password management
        </title>
        <link href="/css/jquery-ui-1.10.3.custom.min.css" media="all" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='/css/lockr.css' rel='stylesheet' type='text/css'>
        <script src="/js/jquery-2.0.0.min.js" type="text/javascript"></script>
        <script src="/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
